<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BlogBase.com</title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/fonts.css">
    </head>
    <body>

<!-- _______________________________________________Mobile View_______________________________________________________ -->
        <div class="topbar">
            <img src="../images/main_logo.png" alt="logo">
            <p>BlogBase</p>
            <div class="ham" id="ham">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p class="tagline" style="margin-top: 60px;">Burst your</p>
        <p class="tagline" style="bottom:5px">opinions and</p>
        <p class="tagline" style="bottom:10px">post them on</p>
        <p class="tagline" style="bottom:15px">BlogBase.</p>

        <p class="tagdesc">A free and secure platform which allows you to post blogs anonymously on any topic.</p>

        <a href="/login" class="btn" style="margin-top: 50px;">Login to your account</a>
        <a href="/register" class="btn" style="color:#3a3a3a; background-color: white; border:1px solid #3a3a3a; padding:9px 69px 9px 69px; margin-bottom: 30px;">Create a new account</a>

        <img src="../images/vectorart1.png" alt="vector" class="vector">

        <div class="sidebar" id="sidebar">
            <div class="header">
                <img src="../images/main_logo.png" alt="logo">
                <p>BlogBase</p>
            </div>
            <a href="#" style="margin-top: 60px;">How it Works</a>
            <a href="#">Service</a>
            <a href="#">Support</a>
            <a href="#">Blog</a>
            <a href="#">About Us</a>
        </div>
<!-- -----------------------------------------------Mobile view ends here--------------------------------------------------- -->

<!-- _________________________________________________PC View_______________________________________________________  -->

        <div class="pctopbar">
            <img src="../images/main_logo.png" alt="logo">
            <p>BlogBase</p>
            <div class="under"><a href="#">How it Works</a><div></div></div>
            <div class="under"><a href="#">Service</a><div></div></div>
            <div class="under"><a href="#">Support</a><div></div></div>
            <div class="under"><a href="#">About Us</a><div></div></div>
        </div>
        <div class="main">
            <div class="left">
                <p class="pctagline" style="margin-top: 60px;">Burst your opinions</p>
                <p class="pctagline" style="bottom:5px">and post them</p>
                <p class="pctagline" style="bottom:10px">on BlogBase.com</p>
                <p class="pctagline" style="bottom:15px">Anonymously!</p>

                <p class="pctagdesc">A free and secure platform which allows you to post blogs anonymously on any topic.</p>

                <div class="lns">
                    <a href="/login" class="pcbtn1">Login</p>
                    <a href="/register" class="pcbtn2">Register</a>
                </div>
            </div>
            <div class="right">
                <img src="../images/android.png" alt="android">
            </div>
        </div>

        <script src="../js/index.js"></script>
    </body>
</html>