*{-webkit-tap-highlight-color: transparent;}

body 
{
    display:flex;
    flex-direction: column;
    margin:0;
    width: 100%;
    font-size:0;
}

.topbar 
{
    display:flex;
    width:100%;
    height: auto;
    margin:10px auto 0px 0px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1;
}

.topbar img 
{
    display:flex;
    width:30px;
    height: auto;
    margin:auto 0px auto 20px;
}

.topbar p
{
    display:flex;
    font-size:25px;
    font-family: helvetica-bold;
    color:black;
    margin:auto auto auto 10px;
}

.ham , .hamopen
{
    display:flex;
    flex-direction: column;
    margin:auto 20px auto auto;
    cursor: pointer;
    padding: 5px;
    position: relative;
    bottom: 3px;
    overflow: hidden;
    transition: 0.5s;
}

.ham div , .hamopen div
{
    display: flex;
    width:30px;
    height: 5px;
    background-color:#40128B;
    border-radius: 50px;
    margin:5px 0px 0px 0px;
    transition: 0.5s;
}

.hamopen div:nth-child(1)
{
    transform: translateY(10px) rotate(45deg);
}

.hamopen div:nth-child(2)
{
    transform: translateX(60px);
}

.hamopen div:nth-child(3)
{
    transform: translateY(-10px) rotate(-45deg);
}

.sidebar , .sideopen
{
    display:flex;
    flex-direction: column;
    width:0px;
    background-color: #3a3a3a;
    height:100%;
    position: fixed;
    margin:0;
    overflow: hidden;
    transition: 0.5s;
    position: fixed;
    z-index: 2;
}

.sideopen
{
    width:300px;
}

.user_name
{
    display:flex;
    margin:30px auto 0px auto;
    width:fit-content;
}

.user_name svg 
{
    width:35px;
    height: auto;
    margin:auto 0px auto 0px;
    fill:blueviolet;
}

.user_name p 
{
    display:flex;
    font-family: helvetica-med;
    font-size:25px;
    color:white;
    margin:auto 0px auto 15px;
}

.sidebar a, .sideopen a
{
    display:flex;
    font-size: 25px;
    width:280px;
    font-family: helvetica-med;
    color:white;
    margin:20px auto 0px 20px;
    text-decoration: none;
}

.latest 
{
    display:flex;
    width:100%;
    margin:0;
    padding-top: 100px;
}

.latest p 
{
    display:flex;
    font-family: lexend-med;
    font-size:24px;
    color:#3a3a3a;
    margin:auto auto auto 20px;
}

.latest svg 
{
    width:20px;
    height: auto;
    fill:blueviolet;
    margin:auto 20px auto auto;
    position: relative;
    bottom: 3px;
}

.post
{
    display:flex;
    flex-direction: column;
    width:300px;
    max-height: 500px;
    padding:20px;
    background-color: #FFFBF5;
    margin:20px auto 0px auto;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0.2);
}

.poster
{
    display:flex;
    width:100%;
    height: fit-content;
    margin:0;
}

.poster svg 
{
    width:30px;
    height: auto;
    margin:auto 0px auto 0px;
    fill:blueviolet;
}

.poster p 
{
    display:flex;
    font-family: lexend-med;
    font-size:25px;
    color:black;
    margin:auto auto auto 15px;
}

.title
{
    display:flex;
    font-family: helvetica-med;
    font-size:30px;
    margin:25px auto 0px 0px;
    color:#3a3a3a;
}

.content
{
    display:flex;
    font-family: lexend-reg;
    font-size:20px;
    margin:15px auto 0px auto;
    color:#3a3a3a;
    max-width: 300px;
    word-wrap: break-word;
    overflow-y: scroll;
    max-height: 600px;
}

.date 
{
    display:flex;
    font-family: helvetica-reg;
    font-size:13px;
    color:rgba(0, 0, 0, 0.3);
    margin:15px 0px 0px 0px;
}

.likes
{
    display:flex;
    width:100%;
    margin:10px 0px 0px 0px;
}

.likes svg
{
    display:flex;
    width:25px;
    height:auto;
    fill:#3a3a3a;
    cursor: pointer;
}

.likes p 
{
    display:flex;
    font-family: helvetica-reg;
    font-size:16px;
    color:rgba(0, 0, 0, 0.3);
    margin:auto 0px auto 10px;
    user-select: none;
}

.add 
{
    display:flex;
    margin:0;
    position:fixed;
    bottom:20px;
    right:20px;
    background-color: blueviolet;
    width:30px;
    height:30px;
    padding: 7px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add svg 
{
    width:30px;
    height: 30px;
    fill:#3a3a3a;
}

.add:hover 
{
    background-color: rgb(104, 33, 171);
}

.topbar .user_name , .topbar a
{
    display: none;
}

@media screen and (min-width:800px)
{
    .topbar
    {
        border:0;
    }

    .ham
    {
        display:none;
    }    

    .topbar .user_name
    {
        display:flex;
        width: fit-content;
        margin:auto 20px auto 0;
    }

    .topbar .user_name p 
    {
        color:#3a3a3a;
    }

    .topbar a 
    {
        display:flex;
        font-family: helvetica-med;
        font-size:25px;
        color:#3a3a3a;
        margin:auto 50px auto auto;
        text-decoration: none;
    }

    .post 
    {
        margin:20px auto 0px 20px;
        width: auto;
        max-width: 1100px;
    }

    .content 
    {
        max-width: 1000px;
    }
}