*{-webkit-tap-highlight-color: transparent;}

body 
{
    display:flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    margin:0;
    font-size: 0;
    background-color: #FAFAFA;
}

.topbar 
{
    display:flex;
    width:100%;
    height: auto;
    margin:20px auto 0px 0px;
}

.topbar img 
{
    display:flex;
    width:30px;
    height: auto;
    margin:auto 0px auto 20px;
}

.topbar p
{
    display:flex;
    font-size:25px;
    font-family: helvetica-bold;
    color:black;
    margin:auto auto auto 10px;
}

.ham , .hamopen
{
    display:flex;
    flex-direction: column;
    margin:auto 20px auto auto;
    cursor: pointer;
    padding: 5px;
    position: relative;
    bottom: 3px;
    overflow: hidden;
    transition: 0.5s;
}

.ham div , .hamopen div
{
    display: flex;
    width:30px;
    height: 5px;
    background-color:#40128B;
    border-radius: 50px;
    margin:5px 0px 0px 0px;
    transition: 0.5s;
}

.hamopen div:nth-child(1)
{
    transform: translateY(10px) rotate(45deg);
}

.hamopen div:nth-child(2)
{
    transform: translateX(60px);
}

.hamopen div:nth-child(3)
{
    transform: translateY(-10px) rotate(-45deg);
}

.tagline
{
    display:flex;
    margin:0px auto 0px 20px;
    font-family: helvetica-bold;
    font-size:50px;
    color:black;
    background-image: linear-gradient(
        90deg,
        hsl(0deg 0% 23%) 7%,
        hsl(283deg 30% 32%) 62%,
        hsl(282deg 54% 41%) 74%,
        hsl(283deg 88% 45%) 79%,
        hsl(285deg 79% 50%) 83%,
        hsl(288deg 88% 55%) 88%,
        hsl(290deg 98% 59%) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    word-spacing: 10px;
    letter-spacing: 0px;
    position: relative;
}

.tagdesc 
{
    display:flex;
    margin:20px 17px 0px 20px;
    font-family: helvetica-reg;
    color:rgba(0, 0, 0, 0.4);
    font-size:15px;
}

.btn 
{
    display:flex;
    margin:10px auto 0px auto;
    font-size:17px;
    font-family: helvetica-med;
    color:white;
    background-color: blueviolet;
    border-radius: 50px;
    padding:10px 70px 10px 70px;
    text-decoration: none;
    z-index: 1;
    user-select: none;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.vector
{
    display:flex;
    width:100%;
}

@media screen and (min-height:740px)
{
    .vector
    {
        position: absolute;
        bottom:0;
    }
}

.sidebar , .sideopen
{
    display:flex;
    flex-direction: column;
    width:0px;
    background-color: #3a3a3a;
    height:100%;
    position: fixed;
    margin:0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
}

.sideopen
{
    width:300px;
}

.sidebar a, .sideopen a
{
    display:flex;
    font-size: 30px;
    width:280px;
    font-family: helvetica-med;
    color:white;
    margin:20px auto 0px 20px;
    text-decoration: none;
}

.header
{
    display:flex;
    width:100%;
    margin:30px 15px 0px 0px;
}

.header img 
{
    width:30px;
    margin:auto 0px auto auto;
}

.header p 
{
    display:flex;
    font-family: helvetica-bold;
    color:white;
    font-size:35px;
    margin:auto auto auto 15px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    background-image: linear-gradient(
        90deg,
        hsl(0deg 0% 100%) 0%,
        hsl(264deg 100% 95%) 40%,
        hsl(263deg 100% 90%) 53%,
        hsl(262deg 100% 85%) 62%,
        hsl(260deg 100% 80%) 69%,
        hsl(258deg 100% 75%) 75%,
        hsl(256deg 100% 71%) 81%,
        hsl(253deg 100% 66%) 86%,
        hsl(249deg 100% 61%) 92%,
        hsl(235deg 100% 50%) 100%
    );
}

.pctopbar
{
    display:none;
}

@media screen and (min-width:800px)
{
    .topbar, .sidebar, .btn, .vector, .tagdesc, .tagline
    {
        display:none;
    }

    .pctopbar
    {
        display:flex;
        width:100%;
        margin:20px 0px 0px 0px;
    }

    .pctopbar img 
    {
        width:30px;
        margin:auto 0px auto 20px;
    }

    .pctopbar p 
    {
        display:flex;
        font-family: helvetica-bold;
        font-size:30px;
        color:black;
        margin:auto auto auto 10px;
    }

    .pctopbar .under 
    {   
        display:flex;
        flex-direction: column;
        margin:auto 50px auto 0px;
        position: relative;
        top:5px;
        overflow: hidden;
    }

    .pctopbar .under a 
    {
        display:flex;
        font-family: helvetica-med;
        font-size:20px;
        color:#3a3a3a;
        text-decoration: none;
        margin: 0px;
    }

    .pctopbar .under div 
    {
        display:flex;
        width:100%;
        margin:0px 0px 0px 0px;
        height: 3px;
        background-color: #3a3a3a;
        border-radius: 50px;
        transform: translateX(-100%);
        transition: 0.3s;
    }
}