*
{
    display:flex;
    -webkit-tap-highlight-color: transparent;
}

title
{
    display: none;
}

body 
{
    flex-direction: column;
    margin: 0;
    width:100%;
    font-size:0;
    background-image: url(images/post-mobile-bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(236,227,255,1);
}

.back 
{
    margin:15px auto 0px 15px;
}

.back svg 
{
    margin:0;
    width:30px;
    height: auto;
    fill:#3a3a3a;
}

.name 
{
    margin:20px auto 0px 20px;
    padding:7px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.3);
    background-color: white;
}

.name svg
{
    width:30px;
    height:30px;
    fill: #3a3a3a;
    margin:0;
}

.name p 
{
    font-family: lexend-med;
    font-size:25px;
    color:#3a3a3a;
    margin:auto auto auto 10px;
}

.content
{
    width:320px;
    flex-direction: column;
    margin:10px auto 0px auto;
    background-color: white;
    padding:7px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.3);
    height:450px;
}

.content .title
{
    width:100%;
    margin:0;
    border:0;
    font-family: lexend-med;
    font-size:25px;
    color:black;
    resize: none;
    max-height: 32px;
    background-color: transparent;
}

.content .title:focus
{
    outline: none;
}

.content .title::placeholder
{
    font-family: lexend-med;
    font-size: 25px;
    color:rgba(0,0,0,0.3);
}

.content .blog
{
    width:100%;
    max-width: 100%;
    margin:10px 0px 0px 0px;
    color:black;
    font-family:helvetica-reg;
    font-size:15px;
    border:0;
    word-break: break-all;
    overflow: hidden;
    max-width: 300px;
    resize: none;
    height: 450px;
    background-color: transparent;
    overflow-y: scroll;
}

.content .blog:focus
{
    outline: none;
}

.content .blog::placeholder
{
    font-family: helvetica-reg;
    font-size: 15px;
    color:rgba(0,0,0,0.3);
}

.submit 
{
    margin:10px 20px 0px auto;
    font-family: helvetica-med;
    font-size: 15px;
    color:white;
    background-color: blueviolet;
    padding:7px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0.3);
    cursor:pointer;
}

@media screen and (min-width:800px) 
{
    .content
    {
        margin:10px auto 0px 20px;
        width: 1000px;
    }

    .content .blog 
    {
        width:990px;
        max-width: 990px;
    }

    .submit
    {
        margin:10px auto 70px 20px;
        background-color: #3a3a3a;
        font-size: 20px;
    }

    .submit:hover 
    {
        background-color: #272727;
    }
}